{% extends 'index.html.twig' %}

{% block title %}Seance index{% endblock %}

{% block main_content %}
    <h1>Séances</h1>

    <div class="overflow-x-auto mt-8">
        <table class="min-w-full bg-white shadow-lg rounded-lg">
            <thead class="bg-blue-500 text-white">
                <tr>
                    <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Id</th>
                    <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Sportif</th>
                    <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Coach</th>
                    <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Programme</th>
                    <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Actions</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                {% for seance in seances %}
                    <tr class="hover:bg-gray-100 transition duration-300">
                        <td class="px-6 py-4 text-sm text-gray-700">{{ seance.id }}</td>
                        <td class="px-6 py-4 text-sm text-gray-700">{{ seance.getAdept.getName }}</td>
                        <td class="px-6 py-4 text-sm text-gray-700">{{ seance.getCoach.getName }}</td>
                        <td class="px-6 py-4 text-sm text-gray-700">{{ seance.program.getLabel }}</td>
                        <td class="px-6 py-4">
                            <a href="{{ path('app_seance_show', {'id': seance.id}) }}"
                            class="text-blue-500 hover:underline font-medium">
                            Détails
                            </a>
                            <a href="{{ path('app_seance_edit', {'id': seance.id}) }}"
                            class="text-green-500 hover:underline font-medium ml-4">
                            Modifier
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="px-6 py-4 text-center text-sm text-gray-500">Aucune séances trouvées</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_seance_new') }}">Create new</a>
{% endblock %}
