{% extends 'index.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block main_content %}
    <section>
        <div class="overflow-x-auto mt-8">
            <table class="min-w-full bg-white shadow-lg rounded-lg">
                <thead class="bg-blue-500 text-white">
                    <tr>
                        <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Id</th>
                        <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Nom</th>
                        <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Role</th>
                        <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Actions</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {% for user in users %}
                        <tr class="hover:bg-gray-100 transition duration-300">
                            <td class="px-6 py-4 text-sm text-gray-700">{{ user.id }}</td>
                            <td class="px-6 py-4 text-sm text-gray-700">{{ user.getName }}</td>
                            <td class="px-6 py-4 text-sm text-gray-700">{% for role in user.getRoles %}
                                <span>{{role ~ ' '}}</span>
                            {% endfor %}</td>
                            <td class="px-6 py-4">
                                <a href=" {{ path('app_admin_show', {id: user.id}) }} "
                                class="text-blue-500 hover:underline font-medium">
                                Détails
                                </a>
                                <a href=" {{ path('app_admin_edit', {id: user.id}) }} "
                                class="text-green-500 hover:underline font-medium ml-4">
                                Modifier
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3" class="px-6 py-4 text-center text-sm text-gray-500">Aucun utilisateurs trouvé</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href=" {{ path('app_admin_new') }} ">Créer un utilisateur</a>
    </section>
{% endblock %}
