<div class="max-w-7xl m-auto py-4 flex justify-between items-center">
    <p class="text-2xl font-semibold"><a href=" {{ path('app_home') }} ">Gettin'Fit</a></p>
    <nav>
        <ul class="flex items-center gap-8">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="font-medium"><a href=" {{ path('app_admin') }} ">Admin</a></li>
            {% endif %}
            
            {% if is_granted('ROLE_COACH') %}
                <li class="font-medium"><a href=" {{ path('app_program_index') }} ">Programmes</a></li>
                <li class="font-medium"><a href="  {{ path('app_seance_index') }}">Seance</a></li>
            {% endif %}
            
            <li class="font-medium"><a href=" {{ path('app_exercice_index') }} ">Exercices</a></li>
            

            {% if app.user %}
                <li class="font-medium"><a href=" {{ path('app_logout') }} ">Déconnexion</a></li>
            {% else %}
                <li class="font-medium"><a href=" {{ path('app_login') }} ">Connexion</a></li>
            {% endif %}
        </ul>
    </nav>
</div>